<form method="post" enctype="multipart/form-data">
	<input type="text" name="firstName" >
	<input type="text" name="lastName">
	<input type="password" name="password">
	<input type="submit" name="Send">
</form>